streamlit==1.31.0
ccxt==4.1.87
pandas==2.1.1
numpy==1.26.0
plotly==5.18.0
yfinance==0.2.35
requests==2.31.0
newsapi-python==0.2.7
python-dotenv==1.0.0
textblob==0.17.1
altair==5.2.0
virtualenv==20.25.0